<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Form</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static '/js/index.js' %}" type="text/Javascript">

    <link rel="stylesheet" href="{% static '/css/index.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static '/js/index.js' %}"></script>
    <!-- <script src="{% static '/js/script.js' %}"></script> -->
</head>

<body class="body">
    <form class="fileupload-container" onsubmit="postFile(event)">
      <div class="frame">
        <div class="center">
          <div class="title">
            <h1>Upload File Here</h1>
          </div>
      
          <div class="dropzone">
            <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
            <input type="file" id="file-input" class="upload-input" />
          </div>
      
          <button type="submit" class="btn" name="uploadbutton">Upload file</button>
          <div id="spinner" class="d-none loader"></div>
          <div class="output-message" id="output"></div>
        </div>
      </div>
      </form>
</body>

</html>